﻿<%@ Page Language="C#"  MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Carrito.aspx.cs" Inherits="Carrito" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <div>
    
        Bienvenido:
        <asp:Label ID="Label1" runat="server"></asp:Label>
        <br />
   </div>
        <center> <asp:Label ID="Label2" runat="server"></asp:Label>
        <br />
       <asp:Button class="btn btn-lg btn-primary btn-block" ID="Button4" style="width:250px;" runat="server" OnClick="Button4_Click" Text="Generar Compra" Visible="False" />
        <br />
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <asp:Label ID="Label3" runat="server"></asp:Label></center>
    </form>
</asp:Content>
