﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Compras.aspx.cs" Inherits="Compras" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .auto-style1 {
            width: 34px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
            <center>
                 <asp:Label ID="Label3" runat="server"></asp:Label>
                 <br />
                 <asp:Label ID="Label2" runat="server"></asp:Label>
                 <br />
                 <asp:DropDownList CssClass="form-control" Width="200px" ID="DropDownList1" runat="server" DataSourceID="SqlDataSource1" DataTextField="nombre" DataValueField="Id_proveedor" Visible="False">
                 </asp:DropDownList>
                 <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DatabaseConnectionString %>" SelectCommand="SELECT [Id_proveedor], [nombre] FROM [proveedores]"></asp:SqlDataSource>
                 <asp:HiddenField ID="HiddenField1" runat="server" />
                 <br />
                 <asp:Button ID="Button2" runat="server" Width="200px" CssClass="btn btn-lg btn-primary btn-block" Text="Registrar Compra" Visible="False" OnClick="Button2_Click" />
                 <asp:Label ID="Label4" runat="server"></asp:Label>
                 <br />
                <hr />
                 <asp:TextBox Height="45" ID="TextBox1" Width="150px" CssClass="form-control" runat="server"></asp:TextBox>
                 <asp:Button ID="Button1" Width="100px" runat="server" CssClass="btn btn-lg btn-primary btn-block" Text="Buscar" OnClick="Button1_Click" />
                 <asp:Label ID="Label1" runat="server"></asp:Label>
            </center>
    </form>
</asp:Content>

