﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Inventario.aspx.cs" Inherits="Inventario" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
        <p>
            <br />
        </p>
            <table align="center" ><tr><td>
            <asp:DropDownList ID="DropDownList1" CssClass="form-control" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged" Width="177px">
                <asp:ListItem Value="4">Todo</asp:ListItem>
                <asp:ListItem Value="1">Existencias Minimas</asp:ListItem>
                <asp:ListItem Value="2">Existencias Maximas</asp:ListItem>
                <asp:ListItem Value="3">Negativo</asp:ListItem>
            </asp:DropDownList></td><td>
            <asp:Button ID="Button1" runat="server" CssClass="btn btn-primary" OnClick="Button1_Click" Text="Filtrar" Width="174px" /></td></tr></table>
     
        <br />
     
        <p>
            <asp:Label ID="Label1" runat="server"></asp:Label>
        </p>
        <p>
            &nbsp;</p>
    </form>
</asp:Content>

