﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Mis_facturas.aspx.cs" Inherits="Mis_facturas" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <div>
        <br />
        <br />
        <center><asp:Label ID="Label1" runat="server"></asp:Label></center>
    </div>
    </form>
</asp:Content>