﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="modal.aspx.cs" Inherits="modal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    </head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <table class="table" style="width:323px;" align="center">
        <tr>
            <td rowspan="6" style="text-align:center;vertical-align:middle;" >
                <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>Nombre:<asp:Label ID="Label1" runat="server"></asp:Label>
        
            </td>
 </tr>
        <tr>
            <td>Precio:<asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>Existencias:<asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
            </td>
        </tr>
        <tr>
        <td>cantidad:<asp:TextBox ID="TextBox1" runat="server" Width="67px" OnTextChanged="TextBox1_TextChanged" value="1"></asp:TextBox>
            <asp:TextBox ID="TextBox2" runat="server" Visible="False" Width="16px"></asp:TextBox>
            <asp:TextBox ID="TextBox3" runat="server" Visible="False" Width="16px"></asp:TextBox>
            </td>
        </tr>
        <tr>
         <td style="text-align:center" >
             <asp:ImageButton ID="ImageButton1" runat="server" Height="78px" ImageUrl="~/Imagenes/logos/carrito.png" Width="84px" OnClick="ImageButton1_Click" />
            </td>
        </tr>
        <tr><td colspan="2">
            <asp:Label ID="Label5" runat="server"></asp:Label>
            </td></tr>
    </table>
        
    </form>
    </body>
</html>
