﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="permisos_usuarios.aspx.cs" Inherits="permisos_usuarios" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <script>
        function asign_permiso(permiso,usuario)
        {
            var datos = {id_permiso:permiso,id_usuario:usuario};
            $.ajax({
                url: 'asignar_permisos.aspx',
                data: datos,
                type: 'post',
                error: function (event) {
                    alert("Error!!!");
                }
                })
        }

    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
        <asp:Label ID="Label1" runat="server"></asp:Label>
    </form>
</asp:Content>

