﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="reg_comp.aspx.cs" Inherits="reg_comp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <p>    <center>
        <asp:Label ID="Label1" runat="server"></asp:Label>
        <br />
    <table style="width:310px;" align="center">
            <tr>
                <td>Costo:</td>
                <td>
                    <asp:TextBox ID="TextBox1" CssClass="form-control" Width="100px" Height="50px" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>Existencias</td>
                <td>
                    <asp:TextBox ID="TextBox2" CssClass="form-control" Width="100px" Height="50px" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td align="center" >
                    <asp:Button ID="Button1" CssClass="btn btn-success" Width="100px" Height="50px" runat="server" Text="Registrar" OnClick="Button1_Click" />
                </td>
                <td>

                    <asp:Button ID="Button2" CssClass="btn btn-danger" Width="100px" Height="50px" runat="server" Text="Cancelar" OnClick="Button2_Click" />

                </td>
            </tr>
        </table></center>
        <asp:Label ID="Label2" runat="server"></asp:Label>
    </p>
    </form>
</asp:Content>

