﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master"  AutoEventWireup="true" CodeFile="Servicio_consulta.aspx.cs" Inherits="Servicio_consulta" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <div>
     <br />
   </div><center>
        <asp:TextBox ID="TextBox1" style="width:250px;" required CssClass="form-control" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" style="width:250px;" Class="btn btn-lg btn-primary btn-block" OnClick="Button1_Click" Text="Buscar" />
       
       <br />
        <br />
        <asp:Label ID="Label1" runat="server"></asp:Label></center> 
    </form>
</asp:Content>
