﻿.cont{
    border-color: #808080;
    width:100%;
    height:100%;
    background-color:#f2f2f2;
}
.tbl{
    background-color:#f2f2f2;
    border-collapse:separate;
    border-spacing:1px;
}
.redondeoimagen{
    border-radius:5px;
}
.login{
    margin:0 auto;
    width:300px;
    border-color: #9999FF;
    background-color:#EEEEFF;
    border-style: solid;
    border-radius: 10px;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}
login, td-alg{
    text-align:left;

}
